* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1600px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    z-index: -5;
}

ul {
    list-style: none;
}


/* container  */

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}


/* small */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/* medium */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/* large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.head {
    position: absolute;
    z-index: 50;
    width: 100%;
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #151515, $alpha: 0.2);
        padding: 15px;
        position: relative;
    }
}

.contaner {
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.head img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.head .links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
}

.head .links li a {
    &:hover {
        color: var(--green);
    }
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .25s;
    margin-left: 35px;
    text-decoration: none;
}

.head .book {
    &:hover {
        background-color: #151515;
        color: var(--white);
    }
    max-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 250ms all ease-in-out;
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 0px 15px rgb(21 21 21 / 15%);
}

@media(min-width: 992px) {
    .head .sHead {
        display: none !important;
    }
}

@media (max-width:991px) {
    .head .overlay {
        box-shadow: 0px 1px 8px 0px #2e2e2ed4;
        background-color: #444141 !important;
    }
    .head img {
        max-width: 110px;
        margin-left: 70px;
        margin-top: 35px;
    }
    .contaner {
        height: 35px !important;
        position: absolute;
    }
    .head .sHead {
        font-weight: 100;
        color: white;
        background-color: transparent;
        i {
            font-size: 30px;
        }
        position: relative;
        border: none;
        top: 0;
        cursor:pointer;
        min-width:40px;
        padding: 14px 15px;
        font-size: 13px;
    }
    .head .sHead2 {
        font-weight: 100;
        color: white;
        background-color: transparent;
        i {
            font-size: 30px;
        }
        position: relative;
        border: none;
        top: 0;
        cursor:pointer;
        min-width:40px;
        padding: 14px 15px;
        font-size: 13px;
    }
    .head .overlay {
        background-color: rgba($color: #444141, $alpha: 1);
    }
    .head .links {
        display: none !important;
    }
    .head .book {
        display: none !important;
    }
}

#sideB {
    z-index: 49;
    .sidelinks {
        li {
            width: 100%;
            height: 45px;
            &:hover {
                background-color: #28a745;
                a {
                    span {
                        color: #ffffff
                    }
                    color: #ffffff
                }
            }
            // line-height: 5px;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 5px;
        }
        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            span {
                line-height: 1.8;
                text-decoration: none;
                color: #9b9b9b;
                margin-left: 15px;
                font-size: 16px;
                line-height: 2.9;
            }
        }
        display: block;
        margin: 15px 0;
        height: auto;
        text-align: left;
        margin-bottom: 50px;
    }
    position: absolute;
    top: 85px;
    width: 268px;
    height: 100vh;
    display: none;
    background-color: #444141;
    position: fixed;
}

.headImg {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    img {
        // max-width: 100%;
        aspect-ratio: 1920 / 570;
        height: 570px;
    }
    .cont {
        z-index: 3;
        position: absolute;
        top: 50%;
        color: white;
        text-align: center;
        .wel {
            text-transform: uppercase;
            font-family: "PT Serif", "Times New Roman", Times, serif;
            text-shadow: 0 4px 4px rgb(21 21 21 / 25%);
            font-size: 28px;
            line-height: 1.5;
            font-weight: 700;
        }
        .def {
            margin-top: 35px;
            .home {
                position: relative;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.7;
                padding-left: 15px;
                padding-right: 15px;
                color: white;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    width: 5px;
                    height: 5px;
                    background-color: white;
                    border-radius: 50%;
                    bottom: 50%;
                    right: -5px;
                    transform: translatey(50%);
                }
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .about {
                padding-left: 15px;
                padding-right: 15px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

@media(max-width:525px) {
    .cont {
        .def {
            margin-top: 14px !important;
        }
    }
}

@media(min-width:1200px) {
    .cont {
        .wel {
            font-size: 45px !important;
            line-height: 1.2 !important;
        }
    }
}

@media(min-width:1500px) {
    .headImg {
        img {
            width: 100%;
            aspect-ratio: 1920 / 570;
            // height: 570px;
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .headImg {
        img {
            aspect-ratio: 1920 / 570;
            height: 362px;
        }
    }
}

@media(max-width:991px) {
    .headImg {
        img {
            aspect-ratio: 1920 / 570;
            height: 362px;
            transform: translatey(88px);
        }
    }
}

#sidebo {
    // background-color: red;
    &:hover {
        background-color: #151515;
        color: var(--white);
    }
    margin-left: 15px;
    display: flex;
    padding: 15px 30px;
    width: fit-content;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 250ms all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #ffffff;
    border-color: #ffffff;
}

.main .cont {
    min-width: 280px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .wel {
        font-size: 80px;
        line-height: 1.075;
        letter-spacing: 0.01em;
        text-shadow: 0 4px 12px rgb(0 0 0 / 30%);
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "PT Serif", "Times New Roman", Times, serif;
        font-weight: 700;
        color: white;
        @media(max-width: 1199px) {
            font-size: 32px;
        }
    }
    .def {
        color: white;
        font-size: 20px;
        max-width: 640px;
    }
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translatex(-50%);
    flex-direction: column;
}

// end head 
// start top
.top {
    width: 60px;
    position: fixed;
    height: 60px;
    background-color: #41A415;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: 0.45s all ease-in-out;
    transition: 0.45s all ease-in-out;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: #ffffff;
        background: #000000;
        text-decoration: none;
    }
    .to-top {
        z-index: 101;
        font-size: 20px;
        line-height: 60px;
        color: #ffffff;
        text-decoration: none;
        &::before {
            content: "\f106";
            font-weight: 400;
            font-family: 'FontAwesome';
        }
        text-decoration: none;
    }
}

@media (max-width:576px) {
    .top {
        right: 15px;
        bottom: 15px;
        width: 50px;
        height: 50px;
    }
}

//end top
// strat footer 
// start footer
footer {
    text-align: center;
    background: #323232;
    .container {
        overflow: hidden;
        position: relative;
        .index {
            max-width: 100%;
            margin-bottom: 60px;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            a {
                text-decoration: none;
                img {
                    display: inline-block;
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                    width: 140px;
                    aspect-ratio: auto 140 / 57;
                }
            }
        }
        .sections {
            margin-bottom: 60px;
            max-width: 100%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            .footer-minimal {
                display: inline-block;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    height: 22px;
                    display: inline-block;
                    padding: 0 20px;
                    line-height: 1.5;
                    a {
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: .02em;
                        text-align: center;
                        color: #ffffff;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: #41A451;
                        }
                    }
                }
            }
        }
        .socials {
            margin-bottom: 60px;
            max-width: 100%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            .social-list {
                li {
                    padding-left: 10px;
                    padding-right: 10px;
                    display: inline-block;
                    a {
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                        &.icon-bg-white {
                            background: rgba(255, 255, 255, 0.05);
                            color: #ffffff;
                        }
                        &:hover {
                            background-color: #41A451;
                        }
                        &.icon-sm {
                            font-size: 22px;
                            line-height: 28px;
                        }
                        &.icon-circle-md {
                            padding: 10px;
                            width: 48px;
                            height: 48px;
                        }
                        &.icon-circle {
                            border-radius: 50%;
                            text-align: center;
                        }
                        &.icon {
                            display: inline-block;
                            font-size: 16px;
                            line-height: 1;
                        }
                        &.fa-face {
                            &::before {
                                content: "\f09a";
                                font-weight: 400;
                                font-family: 'FontAwesome';
                                font-size: 22px;
                                line-height: 28px;
                            }
                        }
                        &.fa-insta {
                            &::before {
                                content: "\f16d";
                                font-weight: 400;
                                font-family: 'FontAwesome';
                                font-size: 22px;
                                line-height: 28px;
                            }
                        }
                        &.fa-twite {
                            &::before {
                                content: "\f099";
                                font-weight: 400;
                                font-family: 'FontAwesome';
                                font-size: 22px;
                                line-height: 28px;
                            }
                        }
                        &.fa-youtu {
                            &::before {
                                content: "\f16a";
                                font-weight: 400;
                                font-family: 'FontAwesome';
                                font-size: 22px;
                                line-height: 28px;
                            }
                        }
                        &.fa-pinter {
                            &::before {
                                content: "\f231";
                                font-weight: 400;
                                font-family: 'FontAwesome';
                                font-size: 22px;
                                line-height: 28px;
                            }
                        }
                        // &.icon::before {
                        //     position: relative;
                        //     display: inline-block;
                        //     font-weight: 400;
                        //     font-style: normal;
                        //     text-transform: none;
                        // }
                    }
                }
            }
        }
        .rights {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            margin-top: 45px;
            a {
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                color: rgba(255, 255, 255, 0.5);
                &:hover {
                    color: #41A451;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .footer-minimal li+li {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}

@media(max-width:767px) {
    .footer-minimal li {
        display: block !important;
        margin-bottom: 10px;
    }
}

@media (min-width:1200px) {
    footer {
        padding: 120px 0;
    }
}

@media (min-width: 992px) {
    footer {
        padding: 90px 0;
    }
}

@media (max-width: 992px) {
    footer {
        padding: 60px 0;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 50px 0;
    }
}

// end footer
// start headding section 
section {
    padding: 50px 0;
}

@media (min-width: 1200px) {
    section {
        padding: 115px 0;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    section {
        padding: 100px 0;
    }
}

@media (min-width: 768px) and(max-width:991px) {
    section {
        padding: 85px 0;
    }
}

.headding {
    .flex {
        display: flex;
        justify-content: space-between !important;
        flex-direction: row-reverse !important;
        display: flex;
        flex-wrap: wrap;
        .fonts {
            width: 100%;
            .clofon {
                padding: 0 65px;
                position: relative;
                &::before {
                    position: absolute;
                    left: -15px;
                    height: 100%;
                    width: 2px;
                    background: #C4C4C4;
                }
                .all {
                    display: flex;
                    flex-wrap: wrap;
                    .fo {
                        margin-bottom: 40px;
                        .thin-title {
                            font-weight: 300;
                            letter-spacing: 0.25em;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 1.05556;
                            font-family: "PT Serif", "Times New Roman", Times, serif;
                        }
                        .thin-title+* {
                            margin-top: 33px;
                        }
                        h2.heading-font,
                        .heading-2.heading-font {
                            font-weight: 400;
                            letter-spacing: -0.03em;
                            text-transform: capitalize;
                        }
                        @media (min-width: 1200px) {
                            h2,
                            .heading-2 {
                                font-size: 50px !important;
                                line-height: 1.2 !important;
                            }
                        }
                        h2,
                        .heading-2 {
                            font-size: 30px;
                            line-height: 1.5;
                            font-family: "PT Serif", "Times New Roman", Times, serif;
                        }
                        .heading-font+.heading-font {
                            margin-top: 20px;
                        }
                        h3.heading-font,
                        .heading-3.heading-font {
                            font-weight: 600;
                            letter-spacing: -0.03em;
                            font-family: "Poppins", sans-serif;
                        }
                        @media (min-width: 1200px) {
                            h3,
                            .heading-3 {
                                font-size: 40px !important;
                                line-height: 1.33333 !important;
                            }
                        }
                        h3,
                        .heading-3 {
                            font-size: 27px;
                            line-height: 1.5;
                        }
                        .text-accent-2 {
                            font-family: 'Tangerine', cursive;
                            font-weight: 500;
                        }
                    }
                    @media (min-width: 1200px) {
                        .fo {
                            flex: 0 0 100% !important;
                            max-width: 100% !important;
                        }
                    }
                    @media (min-width: 576px) {
                        .fo {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                    }
                    .co {
                        .thin-title {
                            font-weight: 300;
                            letter-spacing: 0.25em;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 1.05556;
                            font-family: "PT Serif", "Times New Roman", Times, serif;
                        }
                        .list-color {
                            max-width: 270px;
                            margin-left: -4px;
                            margin-right: -4px;
                            text-align: center;
                            font-size: 0;
                            margin-top: 30px;
                            li {
                                display: inline-block;
                                padding-left: 5px;
                                padding-right: 5px;
                                margin-bottom: 8px;
                                .box-color {
                                    width: 54px;
                                    height: 54px;
                                }
                                .one {
                                    background-color: #41a451;
                                }
                                .two {
                                    background-color: #f73ca1;
                                }
                                .three {
                                    background-color: #ffd541;
                                }
                                .four {
                                    background-color: #00e175;
                                }
                                .five {
                                    background-color: #5656df;
                                }
                                .six {
                                    background-color: #151515;
                                }
                                .seven {
                                    background-color: #c4c4c4;
                                }
                                .eight {
                                    background-color: #e7e7e7;
                                }
                                .nine {
                                    background-color: #323232;
                                }
                                .ten {
                                    background-color: #444141;
                                }
                            }
                        }
                    }
                }
            }
        }
        .headd {
            margin-bottom: 50px;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            ul li {
                +li {
                    margin-top: 55px;
                }
                display: block;
                h1 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 1.5;
                    text-transform: uppercase;
                    font-family: "PT Serif", "Times New Roman", Times, serif;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                p {
                    margin-top: 30px;
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    line-height: 1.66667;
                    font-weight: 300;
                    color: rgba(21, 21, 21, 0.8);
                }
                h2 {
                    font-size: 28px;
                    line-height: 1.5;
                    font-weight: 700;
                    font-family: "PT Serif", "Times New Roman", Times, serif;
                }
                h3 {
                    font-family: "PT Serif", "Times New Roman", Times, serif;
                    font-size: 24px;
                    line-height: 1.5;
                    font-weight: 700;
                }
                h4 {
                    font-family: "PT Serif", "Times New Roman", Times, serif;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1.5;
                }
                h5 {
                    font-family: "PT Serif", "Times New Roman", Times, serif;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.05556;
                }
                h6 {
                    font-family: "PT Serif", "Times New Roman", Times, serif;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 1.06667;
                }
                @media (min-width: 1200px) {
                    h1,
                    .heading-1 {
                        font-size: 80px;
                        line-height: 1.075;
                    }
                    h2 {
                        font-size: 45px;
                        line-height: 1.2;
                    }
                    h3 {
                        font-size: 36px;
                        line-height: 1.33333;
                    }
                    h4 {
                        font-size: 26px;
                        line-height: 1.38462;
                    }
                }
            }
        }
        @media (min-width: 1200px) {
            .headd {
                flex: 0 0 58.33333%;
                max-width: 58.33333%;
            }
            .fonts {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
                .clofon {
                    &::before {
                        content: "";
                    }
                    .all .co .list-color {
                        width: 207.984px !important;
                    }
                }
            }
        }
    }
}

// end headding section
// start text element
.text-ele {
    padding-top: 0;
    background-size: cover;
    background-position: center center;
    display: block;
    .textele {
        h3 {
            font-size: 24px;
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 0;
            font-family: "PT Serif", "Times New Roman", Times, serif;
            font-weight: 700;
            color: #151515;
            letter-spacing: 0;
        }
        @media(min-width: 1200px) {
            h3 {
                font-size: 36px;
                line-height: 1.33333;
            }
        }
        p {
            margin-top: 30px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            line-height: 1.66667;
            font-weight: 300;
            color: rgba(21, 21, 21, 0.8);
            background-color: #ffffff;
            letter-spacing: -0.03em;
            -webkit-text-size-adjust: none;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        .text-block>* {
            margin-left: .125em;
            margin-right: .125em;
        }
        .text-bold {
            font-weight: 500;
        }
        mark {
            padding: 3px 5px;
            color: #ffffff;
            background: #41A451;
        }
        .tooltip-custom {
            padding-left: .25em;
            padding-right: .25em;
            color: #41A451;
            position: relative;
            &:before {
                content: "Tooltips";
                position: absolute;
                top: -160%;
                left: 50%;
                transform: translatex(-50%);
                left: 50%;
                transform: translatex(-50%);
                background-color: #41A415;
                color: white;
                padding: 3px 8px;
                border-radius: 3px;
                opacity: 0;
                transition: 0.3s;
            }
            &:after {
                content: "";
                position: absolute;
                border: 5px solid;
                border-top-color: #41A415;
                border-bottom-color: transparent;
                border-right-color: transparent;
                border-left-color: transparent;
                top: -3PX;
                left: 50%;
                transform: translatex(-50%);
                opacity: 0;
                transition: 0.3s;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
        .text-strike {
            text-decoration: line-through;
        }
        .text-underline {
            text-decoration: underline;
        }
        .link-hover {
            color: #41A451;
            text-decoration: none;
        }
        .link-active {
            transition: all 0.3s ease-in-out;
            color: #151515;
            text-decoration: none;
            &:hover {
                color: #41A451;
            }
        }
    }
}

// end text element
// <!-- start Ordered  -->
.orderedandunordered {
    .allllF {
        display: flex;
        .alll {
            min-width: 435px;
        }
    }
    padding-top: 0;
    h3 {
        font-size: 24px;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "PT Serif", "Times New Roman", Times, serif;
        font-weight: 700;
        color: #151515;
        letter-spacing: 0;
    }
    @media (min-width: 1200px) {
        h3,
        .heading-3 {
            font-size: 36px;
            line-height: 1.33333;
        }
    }
    .orderandun {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        line-height: 1.66667;
        font-weight: 300;
        color: rgba(21, 21, 21, 0.8);
        background-color: #ffffff;
        letter-spacing: -0.03em;
        -webkit-text-size-adjust: none;
        -webkit-font-smoothing: subpixel-antialiased;
        .order {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 50px;
            padding-right: 15px;
            padding-left: 15px;
            position: relative;
            width: 100%;
            li {
                position: relative;
                padding-left: 25px;
                &:before {
                    content: "\f00c";
                    font-weight: 400;
                    font-family: 'FontAwesome';
                    position: absolute;
                    left: 0px;
                }
            }
        }
        .unor {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 50px;
            padding-right: 15px;
            padding-left: 15px;
            position: relative;
            width: 100%;
            .list-order {
                counter-reset: li;
                padding: 0;
                margin: 0;
                li {
                    position: relative;
                    padding-left: 25px;
                    &:before {
                        content: counter(li, decimal) ".";
                        counter-increment: li;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: inline-block;
                        width: 15px;
                        color: #151515;
                    }
                }
            }
        }
    }
    @media(max-width:570px) {
        .orderandun {
            flex-direction: column;
        }
    }
}

// <!-- end Ordered  -->
// start block 
.block {
    padding-top: 0;
    .allllB {
        display: flex;
        flex-wrap: wrap;
        .alllB {
            margin-bottom: 50px;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            h3 {
                font-size: 24px;
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 0;
                font-family: "PT Serif", "Times New Roman", Times, serif;
                font-weight: 700;
                color: #151515;
                letter-spacing: 0;
            }
            @media (min-width: 1200px) {
                h3,
                .heading-3 {
                    font-size: 36px;
                    line-height: 1.33333;
                }
            }
            *+.quote-primary {
                margin-top: 30px;
            }
            article,
            aside,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            main,
            nav,
            section {
                display: block;
            }
            .quote-primary-body {
                position: relative;
            }
            .quote-primary-text {
                font-style: italic;
                font-size: 18px;
                letter-spacing: 0.08em;
                color: rgba(21, 21, 21, 0.8);
            }
            .quote-primary-footer {
                display: flex;
                align-items: center;
            }
            *+.quote-primary-footer {
                margin-top: 10px;
            }
            .quote-primary-footer .bg-dot {
                max-width: 250px;
                flex-basis: 50%;
                height: 50px;
            }
            .bg-dot {
                position: relative;
                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: url(../images/bg-dot.png);
                    opacity: .2;
                    z-index: 0;
                }
            }
            *+.quote-primary-cite {
                margin-top: 0;
                margin-left: 15px;
            }
            .quote-primary-cite {
                font-weight: 400;
                font-size: 24px;
            }
        }
        @media (min-width: 1200px) {
            .alllB {
                flex: 0 0 66.66667% !important;
                max-width: 66.66667% !important;
            }
        }
        @media (min-width: 992px) {
            .alllB {
                flex: 0 0 83.33333%;
                max-width: 83.33333%;
            }
        }
    }
}

// end block